<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
                <a href="/"> <i class="music icon"></i> Shady Album Review Blog</a>
                
            </div>
            
            <a href="/blogs/new" class="right item"> New Post</a>
        </div>
        
    </div>        
